body {
  background-color: rgb(231, 188, 188);
}

.App {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.waldo { 
  height:auto;
  width:700px;
  background-size: contain;
  border-radius: 25px;
  border: 2px solid black;
  background-repeat: none;
}

@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";